<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间：找到所在的mapper接口的位置-->
<mapper namespace="com.zjl.archetype.web.infra.dao.customer.CustomerDao">
    <!--sql语句代码-->
    <select id="getByCompanyName" resultType="com.zjl.archetype.web.infra.dao.customer.CustomerDO">
        SELECT * FROM customer WHERE company_name = #{companyName}
    </select>

</mapper>
