<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- https://github.com/spring-projects/spring-boot/blob/v1.4.2.RELEASE/spring-boot/src/main/resources/org/springframework/boot/logging/logback/defaults.xml -->
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
    name="APPLICATION">
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <file>${LOG_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>50MB</maxFileSize>
      <maxHistory>7</maxHistory>
      <totalSizeCap>20GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder>
      <charset>utf8</charset>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <property name="LOG_FILE" value="${LOG_PATH}/application.log"/>

  <property name="APP_NAME" value="goods"/>

  <property name="LOG_PATH" value="${user.home}/${APP_NAME}/logs"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="APPLICATION"/>
  </root>
</configuration>
